@{
    ViewBag.NamePage = "Документация";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
    <body>
        <div class="main">
            <div class="container">         
                <div class="marga">
                    <div class="row">
                        <div class="col">
                        <h3 class="col-form-label-lg">Формирование отчета</h3>
                        <label class="form-label">Период:</label>
                        <input type="text" name="daterange" class="form-control" />
                        <script type="text/javascript" src="~/js/datepicker/moment.min.js"></script>
                        <script type="text/javascript" src="~/js/datepicker/daterangepicker.min.js"></script>
                        <link rel="stylesheet" type="text/css" href="~/css/daterangepicker.css" />
                        </div>
                        <div class="col">
                        <h3 class="col-form-label-lg">Загрузка продукции списком</h3>
                        @using (Html.BeginForm("excelToDatabase", "Docs", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <p>
                                <label for="uploadExcel" class="form-label">Загрузить файл Excel:</label>
                                <input class="form-control" id="uploadExcel" type="file" name="ExcelFile" enctype="multipart/form-data" />
                            </p>
                            <p>
                                <input type="submit" class="btn btn-primary" value="Отправить файл" id="btnSendExcel" disabled="disabled"/>
                            </p>
                        }
                            <input type="submit" class="btn btn-primary" value="Получить форму заполнения" id="btnGetExcelForm"/> 
                            <input type="submit" class="btn btn-primary" value="Получить накладную" id="btnGetExcelReplishment"/> 
                            
                            <h3 class="col-form-label-lg">Загрузка накладной</h3>
                        @using (Html.BeginForm("ReplishmentVarietyProducts", "Docs", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <p>
                                <label for="uploadExcelR" class="form-label">Загрузить накладную Excel:</label>
                                <input class="form-control" id="uploadExcelR" type="file" name="ExcelFile" enctype="multipart/form-data" />
                            </p>
                            <p>
                                <input type="submit" class="btn btn-primary" value="Отправить файл" id="btnSendExcelR" disabled="disabled" />
                            </p>
                        }
                    </div>                                          
                    </div>                                 
                </div>
            </div>
        </div>
        <script type="text/javascript">
        $('input[name="daterange"]').daterangepicker({
            "locale": {
                "format": "DD.MM.YYYY",
                "separator": "-",
                "applyLabel": "Подтвердить",
                "cancelLabel": "Отмена",
                "fromLabel": "От",
                "toLabel": "До",
                "customRangeLabel": "Custom",
                "weekLabel": "W",
                "daysOfWeek": [
                    "Вс",
                    "Пн",
                    "Вт",
                    "Ср",
                    "Чт",
                    "Пт",
                    "Сб"
                ],
                "monthNames": [
                    "Январь",
                    "Феварль",
                    "Март",
                    "Апрель",
                    "Май",
                    "Июнь",
                    "Июль",
                    "Август",
                    "Сентябрь",
                    "Октябрь",
                    "Ноябрь",
                    "Декабрь"
                ]
            },
            "startDate": "30.05.2024",
            "endDate": "05.06.2024"
        });          
            $('input[name="daterange"]').on('apply.daterangepicker', function (ev, picker) {
            $.ajax({
                url: '@Url.Action("CreateDocument", "Docs")',
                type: 'POST',
                data: { "dateStart": picker.startDate.format('DD-MM-YYYY'), "dateEnd": picker.endDate.format('DD-MM-YYYY') },
                dataType: "json",
                success: function (request) {
                    window.location = '/Docs/Download?id=' + request;
                },
                error: function (err) {
                    alert(err);
                }

            });

            });
            $(document).ready(function () {
                $("#btnGetExcelForm").click(function () {
                window.location = '/Docs/getExcelForm?type=1';
                });
            });
            $(document).ready(function () {
                $("#btnGetExcelReplishment").click(function () {
                    window.location = '/Docs/getExcelForm?type=2';
                });
            });

            document.getElementById('uploadExcel').addEventListener('change', function () {
                var fileExtension = ['xlsx'];
                if (this.value) {
                    if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
                        alert("Загружаемый файл имеет формат, отличный от поддерживаемого – .xlsx")
                    $('#btnSendExcel').prop('disabled', true);
                    } else {
                        $('#btnSendExcel').prop('disabled', false);

                    }

                    
                } else {
                    alert("файл не выбран")
                }
            });

            document.getElementById('uploadExcelR').addEventListener('change', function () {
            var fileExtension = ['xlsx'];
                if (this.value) {
                    if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
                        alert("Загружаемый файл имеет формат, отличный от поддерживаемого – .xlsx")
                        $('#btnSendExcelR').prop('disabled', true);
                    } else {
                        $('#btnSendExcelR').prop('disabled', false);

                    }
                } else {
                    alert("файл не выбран")
                }
            });
        </script>

    </body>
</html>
<link href="~/css/homeStyle.css" rel="stylesheet" />
      