/* Для таблицы в Index*/
.flex {
    margin: 90px 0 0 150px;
}
.table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 85%;
    margin: 0 0 0 220px;
}
    .table th, .table td {
        border: 1px solid #888;
        padding: 10px;
        text-align: center;
        vertical-align: middle;
        position: relative;
    }

    .table tr:hover td {
        background: #fffabe;
    }

        .table tr:hover td:after {
            content: '';
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            width: 105%;
            border-top: 3px solid orange;
            border-bottom: 3px solid orange;
        }

        /* Рамка слева у первой ячейки */
        .table tr:hover td:first-child:after {
            border-left: 3px solid orange;
        }

        /* Рамка справа у последний ячейки */
        .table tr:hover td:last-child:after {
            border-right: 3px solid orange;
            width: auto;
        }

.marga{
    margin:80px 0 0 0;
}

/*Для диаграммы*/
.highcharts-figure,
.highcharts-data-table table {
    min-width: 360px;
    max-width: 800px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}
