@using vp_server.Models;
@model vp_server.Models.Manufacturer
@{
    ViewBag.NamePage = "Добавление производителя";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div class="main">
    <div class="container">
        <div class="marga">
            @using (Html.BeginForm("CreateManufacturer", "Home", FormMethod.Post))
            {
                <p>
                    <label class="form-label">Название производителя:</label>
                    <input type="text" asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" />
                </p>
                <p>
                    <input type="submit" class="btn btn-primary" value="Записать" />
                </p>
            }
        </div>
    </div>
</div>
<script src="~/js/jquery.validate.min.js"></script>
<script src="~/js/jquery.validate.unobtrusive.min.js"></script>
<link href="~/css/homeStyle.css" rel="stylesheet"/>