@using vp_server.Models.ViewModels
@model ProductsAttributesCategories
@* настройка категорий и подкатегорий *@
<!DOCTYPE html>
<html>
    <body>
        <div class="wrapper">
            <div class="sidebar">
                <ul class="list-group tagota">
                @foreach(var item in Model.Categories) @* Реализация трехуровнегово меню (больше пока не нужно) *@
                {
                    if (item.ParentCategoryId == null)
                    {
                        @Html.ActionLink(item.CategoryName, "Index", "Home", new { category = item.Id}, new { @class = "list-group-item" })
                        foreach (var it in Model.Categories)
                        {
                            if (it.ParentCategoryId == item.Id)
                            {
                                @Html.ActionLink(it.CategoryName, "Index", "Home", new { category = it.Id }, new { @class = "list-group-item secondary-item" })
                                foreach (var i in Model.Categories)
                                {
                                    if (i.ParentCategoryId == it.Id)
                                    {
                                        @Html.ActionLink(i.CategoryName, "Index", "Home", new {category = i.Id}, new {@class = "list-group-item third-item"})
                                    }
                                }
                            }
                        }
                    }                
                }
                @Html.ActionLink("Редактирование категорий", "UpdateCategory", "Home", null, new { @class = "nav-link link-in-menu" })
                
            </ul>
            
            </div>
        </div>
    <style>
        .link-in-menu{
            font-size: 10pt;
            margin: 0px 0 0 8px;
        }
        .third-item{
            margin: 0 0 0 20px;
        }
        .secondary-item{
            margin: 0 0 0 10px;
        }
        .tagota {
            margin: 47px 0 0 0;
        }

        body {
            background: #f5f6fa;
        }

        .wrapper .sidebar {
            background-color: #E2EDEE;
            position: fixed;
            top: 0px;
            left: 0;
            width: 222px;
            height: 100%;
            padding: 20px 0;
            transition: all 0.5s ease;
        }
    </style>
    </body>
</html>
<link href="~/css/bootstrap.min.css" rel="stylesheet" />