@using vp_server.Models.ViewModels
@model vp_server.Models.ViewModels.ProductViewsTransactions
<!DOCTYPE html>
<html>
    <body>
    <label>Количество в данный момент:</label> <input id="counter"value="@Model.Count" disabled />
        <form>
        <label>Добавление продукции:</label>
        <input type="number" id="qnt" name="quantity" class="form-control" />
        <input type="button" onclick="addQuantityClicked()" id="btnPost" value="Добавить" class="btn btn-light"/>
    </form>
    <script type="text/javascript">
        function addQuantityClicked() {
            var abv = '@Url.Action("_Quantity", "Home")';
            $.ajax({
                url: abv,
                type: 'POST',
                data: { "idProduct": @Model.Product.Id, "quantity": $("#qnt").val() },
                success: function (request) {
                    $("#counter").val(request)
                },
                error: function () {
                    alert("пиздос")
                }

            });
        }
    </script>
    </body>  
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>


