<!DOCTYPE html>
<html>
    <body>
          <div class="parent">
              <div class="ramka">

                    <label id="ell">Табачная продукция</label>
                     @Html.ActionLink("Войти", "Index", "Home", null, new { @class = "btn" })
                </div>
          </div>                     
       
    </body>
</html>

<link href="~/css/StartPageStyle.css" rel="stylesheet"/>