@using vp_server.Models
@model Category
@{
    ViewBag.NamePage = "Редактирование категорий";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
    <body>
        <div class="container">
            <div class="marga">
                <div class="row">
                <h2>Добавление категорий</h2>

                @using (Html.BeginForm("CreateCategory", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <p>
                        <label for="inp_nameCat" class="form-label">Название категории</label>
                        <input type="text" asp-for="CategoryName" class="form-control" id="inp_nameCat" /> <span asp-validation-for="CategoryName" />
                    </p>
                    <p>
                        <label class="form-label">Уровень категории</label>
                        @Html.DropDownListFor(c => c.CategoryLevel, new SelectList(new string[] { "1", "2", "3" }), null, new { @class = "form-control", @id = "drp_lvl" })
                    </p>
                    <p>
                        <label class="form-label">Родительская категория</label>
                        @Html.DropDownListFor(c => c.ParentCategoryId, Enumerable.Empty<SelectListItem>(), null, new { @class = "form-control", @id = "drp_parent" })
                    </p>
                    <p>
                        <input type="submit" id="btn_addCategory" class="btn btn-info" disabled="disabled" />
                    </p>                                        
                } 
                </div>
                <div class="row">
                    <h2>Редактирование категорий</h2>
                @using (Html.BeginForm("RenameCategory", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <p>
                        <label>Выбор категории</label>
                        @Html.DropDownList("Id", ViewBag.catg as SelectList, null, new { @class = "form-control", @id = "drp_categs" })
                    </p>
                    <p>
                        <label>Новое название</label>
                        <input type="text" name="Title" class="form-control" id="inp_newName"/>
                    </p>
                    <p>
                        <input type="submit" id="btn_update" class="btn btn-info" disabled="disabled"/>
                    </p>
                    
                }
            </div>
            </div>
        </div>
@* 
    if (lvl == 1 && ) {
    $('#btn_addCategory').prop('disabled', false);
    } else {
    $('#btn_addCategory').prop('disabled', true);
    } *@   

        <script type="text/javascript">

            const lbl = document.getElementById('inp_nameCat');
            lbl.addEventListener('input', validate);

            const lblUpdate = document.getElementById('inp_newName');
            lblUpdate.addEventListener('input', validatee)
         function validatee() {
                if (lblUpdate.value.length) {
                    $('#btn_update').prop('disabled', false);
                } else {
                $('#btn_update').prop('disabled', true);
                }
         }


            function validate(){
                if (lbl.value.length) {
                    $('#btn_addCategory').prop('disabled', false);
                } else {
                    $('#btn_addCategory').prop('disabled', true);
                }
            }
           
            $(document).ready(function () {
                lvl = document.getElementById('drp_lvl').value;
                $("#drp_lvl").change(function (val) {
                    lvl = document.getElementById('drp_lvl').value;                   

                    $.ajax({
                        url: '@Url.Action("GetParentCategory", "Home")',
                        type: 'POST',
                        data: { "level": lvl },
                        dataType: "json",
                        success: function (request) {
                            document.getElementById('drp_parent').length = 0;
                                                   
                            var select = document.getElementById('drp_parent');

                        $(request).each(function (index, viw) {
                            var option = document.createElement("option");
                            option.value = viw.id;
                            option.innerHTML = viw.title;
                            select.appendChild(option);
                        });
                        },
                        error: function (err) {
                            alert("Ошибка");
                        }
                    });

                });
            });    
        </script>
    </body>
</html>
<link href="~/css/homeStyle.css" rel="stylesheet" />